.hero {
  height: 100vh;
  background: linear-gradient(to right, #011053, #9d2ec9);
  color: white;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 4rem 1rem;
  padding-right: 20%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 9%;
  margin-left: 30%;
}

.hero h1 {
  font-size: 3.5rem;
}

.herotext {
  text-align: center;
}

.hero-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0px 0px 0px 20px rgba(241, 188, 188, 0.2);
  margin-top: 5%;
  margin-left: 10%;
  border: 4px solid white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.hero-image:hover {
  transition: box-shadow 0.7s ease-in-out;
  box-shadow: 20px 5px rgba(68, 0, 255, 0.1);
}

.hero-section {
  min-height: 100vh;
  background: linear-gradient(to right, #3b82f6, #7c3aed);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.hero-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.hero-text h1 {
  font-size: 3.0rem;
  font-weight: bold;
}